engine-strict=true
auto-install-peers=false
strict-peer-dependencies=true
minimum-release-age=1440
minimum-release-age-exclude[]=expo
minimum-release-age-exclude[]=@expo/*
minimum-release-age-exclude[]=react-native
minimum-release-age-exclude[]=@react-native/*
minimum-release-age-exclude[]=next
minimum-release-age-exclude[]=react
